
// Needed for logo in console.log 
@font-face {
  font-family: 'Nitti';
  src: url('/fonts/Nitti/Nitti.eot?#iefix') format('embedded-opentype'),
	   url('/fonts/Nitti/Nitti.woff')       format('woff'),
	   url('/fonts/Nitti/Nitti.svg#Nitti')  format('svg');
  font-weight: normal;
  font-style : normal;
}

/*
@font-face {
	font-family: '';
	src: url('/fonts/name.eot');
	src: url('/fonts/name.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/name.woff2')      format('woff2'),
}
*/