
/******************
 * GRID
 ****************/

$cols: 12;
$col-size: 100 / $cols ;

@function col( $num, $unit: "%" ) {
  @return #{$col-size * $num}#{$unit};
}

@function padding($num: 1) {
  @return $padding * $num;
}

/**********
 * UTILS
 **********/ 

@function z($key) {
  @if map-has-key($zindex, $key) {
    @return map-get($zindex, $key);
  }

  @warn "Unknown `#{$key}` in $zindex.";
  @return null;
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}


// Color and background classes autogeneration
@each $key in map-keys($colors) {
  .c-#{$key} {
    color: map-get($colors, $key);
  }

  .bg-#{$key} {
    background-color: map-get($colors, $key);
  }
}

@mixin transition($time: $time, $ease: $ease, $props: all) {
  transition: $props $time $ease;
}

@mixin break($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin min-break($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint) + 1px}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin font( $size, $line-height: none ) {
  font-size: $size;
  @if $line-height == none {
    line-height: $size;
  } @else {
    line-height: $line-height;
  }
}

@mixin scroll() {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}