/**
 * Params
 */

$padding: 8px;

 // Call it with
// background: color( primary );
$colors: (
	primary: #000,
	secondary: #fff,
	accent: #ff0000,
	s-accent: #0000ff
);

$text-selection-bg: color(primary);
$text-selection-color: color(secondary);

$time: 0.4s;
$ease: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Call it with
// z-index: z( header );
$zindex: (
	loader: 10,
	header: 99
);

// Call it with
// DON'T USE MEDIA QUERIES, BUT USE IT
// @include break( medium ) { content... }
$breakpoints: (
	medium: 1024px,
	small: 640px,
	phone: 320px
);