//-------------------------------
// TYPO FILES

@import './fontfaces';

// PARAMETERS
$font-bold    : "";
$font-light   : "";
$font-regular : "", monospace;

html, body {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-family: $font-regular;
}

// Text selection color
::selection {
	background: $text-selection-bg;
	color: $text-selection-color;
}

/**
 * font sizes
   FUCK REM

 h1 {
	@include font(size, lineheight); // YOU MUST USE PIXELS
 }

 */