<!DOCTYPE html>
<html>
  <head>
    
    <!-- FUCK SAFARI AUTO ZOOM ON FOCUS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <%= render 'lib/favicons' %>

    <%= display_meta_tags %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  	<%= render 'lib/googleanalytics', code: nil %>

  </body>

</html>
